@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet"');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
  padding: 20px 50px;
}

.main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 50px;
}

.footer {
  text-align: center;
  background-color: #d9d9d9;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  border-radius: 20px;
  width: 300px;
  height: 300px;
}

.card-header {
  background-color: #353333;
  padding: 10px;
  border-radius: 20px;
}

.card-content {
  padding: 20px;
}


/* .card_container{
    width: 100%;
    display: flex;
    margin-top: 25px;
    gap: 10px;   
}
    .day {
    width: 276px;
    height: 271px;
    display: flex;
    justify-content: space-evenly;
}
    .card_container_2 {
    width: 100%;
    display: flex;
    margin-top: 10px;
    gap: 10px;   
}
